#tree-box{

    width:300px;
    float:left;
    padding:10px;
    border-radius: 25px;
    background: #108ead;
    font-family: "Loma";;

}

li {
    color: aliceblue;
}


a:link{
    color: aliceblue;
}
a:visited{

    color: aliceblue;
}

a:hover{
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: aliceblue;
}
